///
/// @group Calcdex
/// @access private
/// @author Keith Choison <keith@tize.io>
/// @since 0.1.0
///

@use 'config/colors';
@use 'functions/color';
@use 'mixins/aria';
@use 'mixins/device';
@use 'mixins/flex';
@use 'mixins/font';
@use 'mixins/position';
@use 'mixins/spacing';
@use 'mixins/transition';

.overlayContainer {
  // positioning based off of those of .battle-log
  // (except for bottom: 40px cause it'll overlay on top of the .battle-log-add)
  // (also + 1px for the border-width)
  @include position.abs($y: 0, $r: 0, $l: 640px + 1px);
  z-index: 15;

  @include device.for-mobile {
    right: 0;
    left: 0;
  }
}

.container {
  // initially added this as a potential fix for the closing dropdown bug on mouse-up,
  // but turns out it was an issue with the .singleValue, which I just added pointer-events: none;,
  // which seemed to do the trick lol. leaving this here, but it does nothing I don't think.
  &.overlay {
    @include position.rel;
    @include position.unset-all;
    width: 100%;
    height: 100%;
    z-index: unset;
  }

  &[data-showdex-scheme='light'] {
    &.overlay::before {
      background-color: colors.$showdown-background-light;
    }

    &[data-showdex-theme='mina'].overlay::before {
      background-color: #FFF7FA;
    }
  }

  &[data-showdex-scheme='dark'] {
    &.overlay::before {
      background-color: colors.$gray-darkest;
    }

    &[data-showdex-theme='mina'].overlay::before {
      background-color: #2D0D1C;
    }
  }

  &[data-showdex-terrain='glassy'] {
    &[data-showdex-scheme='light'] {
      &.overlay::before {
        background-color: color.alpha(colors.$showdown-background-light, 0.56);
      }

      &[data-showdex-theme='mina'].overlay::before {
        background-color: color.alpha(#F5DAE3, 0.64);
      }
    }

    &[data-showdex-scheme='dark'] {
      &.overlay::before {
        background-color: color.alpha(colors.$gray-darkest, 0.8);
      }

      &[data-showdex-theme='mina'].overlay::before {
        background-color: color.alpha(#2D0D1C, 0.8);
      }
    }
  }
}

.content {
  @include spacing.p($a: 16px, $t: 12px);

  .overlay:not(.verySmol) & {
    @include spacing.pt(32px);
  }
}

.playerCalc {
  .overlay:not(.mobile) & {
    @include spacing.mt(16px);
  }
}

.fieldCalc {
  max-width: 448px;
  @include spacing.mx-auto;
  @include spacing.mt(16px);

  .container:not(.skinnyBoi) & {
    @include spacing.px(24px);
  }
}

.opponentCalc {
  @include spacing.mt(12px);
}

.validationPanel {
  @include spacing.mt(12px);
  @include spacing.p($a: 10px);
  border-radius: 10px;
  box-shadow: 0 6px 18px color.alpha(colors.$black, 0.16);

  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$white, 0.7);
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$gray-darkest, 0.68);
    box-shadow: 0 6px 18px color.alpha(colors.$black, 0.4);
  }
}

.validationHeader {
  @include flex.row($align: center, $justify: space-between);
  @include spacing.mb(8px);
}

.validationTitle {
  @include font.primary(600);
  font-size: 12px;
  letter-spacing: 0.02em;

  [data-showdex-scheme='dark'] & {
    color: colors.$white;
  }
}

.validationSummary {
  @include font.primary(600);
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 999px;

  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$gray-light, 0.4);
    color: colors.$gray-darkest;
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$gray-dark, 0.6);
    color: colors.$white;
  }

  &.validationHasFails {
    [data-showdex-scheme='light'] & {
      background-color: color.alpha(colors.$red, 0.12);
      color: colors.$red;
    }

    [data-showdex-scheme='dark'] & {
      background-color: color.alpha(colors.$red, 0.2);
      color: color.alpha(colors.$red, 0.95);
    }
  }
}

.validationBaseline {
  @include flex.row($align: center);
  gap: 4px;
  @include spacing.mb(8px);
}

.validationBaselineItem {
  width: 18px;
  height: 18px;
  @include flex.row-center;
  border-radius: 3px;
  font-size: 9px;

  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$white, 0.8);
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$gray-darker, 0.8);
  }
}

.validationIcon {
  font-size: 10px;
}

.validationTypeWindow {
  & + & {
    @include spacing.mt(8px);
  }
}

.validationTypeWindowLabel {
  @include font.primary(500);
  font-size: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include spacing.mb(4px);

  [data-showdex-scheme='light'] & {
    color: color.alpha(colors.$gray-darkest, 0.7);
  }

  [data-showdex-scheme='dark'] & {
    color: color.alpha(colors.$white, 0.6);
  }
}

.validationTypeGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.validationTypeIcon {
  position: relative;
  width: 36px;
  height: 36px;
  @include flex.row-center;
  border-radius: 6px;
  overflow: hidden;

  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$white, 0.7);
    box-shadow: inset 0 0 0 1px color.alpha(colors.$gray-light, 0.4);
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$gray-darker, 0.6);
    box-shadow: inset 0 0 0 1px color.alpha(colors.$black, 0.3);
  }

  // highlight the type icon
  :global(.container) {
    width: 100%;
    height: 100%;
    @include flex.row-center;
    opacity: 0.7;
  }
}

.validationTypeCount {
  position: absolute;
  bottom: -2px;
  right: 0;
  @include font.primary(600);
  font-size: 9px;
  padding: 0 2px;
  border-radius: 2px 0 4px 0;
  min-width: 14px;
  text-align: center;

  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$gray-dark, 0.6);
    color: colors.$white;
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$black, 0.5);
    color: colors.$white;
  }
}

.validationDouble {
  &:hover .validationDoubleMarker {
    opacity: 1;
  }
}

.validationDoubleMarker {
  position: absolute;
  top: -1px;
  left: 1px;
  @include font.primary(600);
  font-size: 8px;
  color: colors.$red;
  opacity: 0;
  @include transition.apply(opacity);
}

.validationPass {
  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$green, 0.12);
    box-shadow: inset 0 0 0 1px color.alpha(colors.$green, 0.3);
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$green, 0.15);
    box-shadow: inset 0 0 0 1px color.alpha(colors.$green, 0.4);
  }
}

.validationFail {
  [data-showdex-scheme='light'] & {
    background-color: color.alpha(colors.$red, 0.15);
    box-shadow: inset 0 0 0 1px color.alpha(colors.$red, 0.4);
  }

  [data-showdex-scheme='dark'] & {
    background-color: color.alpha(colors.$red, 0.18);
    box-shadow: inset 0 0 0 1px color.alpha(colors.$red, 0.4);
  }
}

.overlayCloseButton {
  @include position.abs($t: 8px, $r: 8px);
  @include flex.row-center;
  width: 24px;
  height: 24px;
  font-size: 13px;
  border-radius: 100px;
  @include transition.apply(color, background-color);

  i {
    line-height: 12px;
  }

  [data-showdex-scheme='light'] & {
    color: color.alpha(colors.$gray-darkest, 0.72);
  }

  [data-showdex-scheme='dark'] & {
    color: color.alpha(colors.$white, 0.72);
  }

  @include aria.outline(
    $position: null,
    $radius: 100px,
  );

  &:hover {
    [data-showdex-scheme='light'] & {
      color: colors.$gray-darkest;
      background-color: color.alpha(colors.$black, 0.08);

      &::after {
        @include aria.outline-hover;
      }
    }

    [data-showdex-scheme='dark'] & {
      color: colors.$white;
      background-color: color.alpha(colors.$white, 0.08);

      &::after {
        @include aria.outline-hover($color: colors.$white);
      }
    }
  }

  &:focus::after {
    @include aria.outline-show;
  }
}

div.mobileCloseButton {
  &.top {
    justify-content: flex-start;
    @include spacing.m($t: 2px, $b: 6px);
  }

  &.bottom {
    @include spacing.m($t: 16px, $b: 8px);
  }
}

// update (2024/09/28): why did I remove this? LMAO oopsies
// (was the cause of the massive player title icons in the FFA player dropdowns HAHA)
.playerOption {
  @include flex.row($align: center);

  .label {
    @include font.primary(500);
  }

  .icon {
    width: 12px;
    min-width: 12px;
    height: 12px;
    min-height: 12px;
    @include spacing.ml(1px);
    color: inherit;
  }
}
